@import url("./fonts.css");
@import url("./background.css");
@import url("./preset.css");

:root {
  --width: 800px;
  --font-family: "IBM Plex Mono", monospace;
  --font-size: 1em;

  --accent: #883aea;
  --accent-light: #e1ccfa;
  --accent-dark: #310a65;

  --background: #000000;
  --background-light: #151515;
  --text-color: #eeeeee;
  --text-color-dark: #bbbbbb;

  --border-radius: 5px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  background: var(--background-light);
  line-height: 1.5;
  width: 90%;
  max-width: var(--width);
  min-height: 100vh;
  margin: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-dark);
}

hr {
  border: none;
  height: 1px;
  background: var(--text-color-dark);
}

section {
  padding: 2rem 0;
}
