:root {
  --text-color: #E8E8E8;
  --link-color: #78aeed;
  --background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: system-ui;
  overflow-wrap: break-word;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: auto;
  width: 90%;
  max-width: 800px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  line-height: 1.6;
}

hr {
  border: 0;
  border-top: 1px solid;
  margin: 1rem 0 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  padding: 10px;
  border-radius: 3px;
}

svg {
  fill: var(--text-color);
}

svg:hover {
  fill: var(--link-color);
}

time {
  font-style: italic;
  opacity: 0.8;
}
