---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Project from "@components/Project.astro";

export async function getStaticPaths() {
  const allProjects = await getCollection("projects");

  const uniqueTags = [
    ...new Set(allProjects.map((project) => project.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredProjects = allProjects.filter((project) =>
      project.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { projects: filteredProjects },
    };
  });
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---

<Layout>
  <section>
    <h2>Projects tagged with {tag}</h2>
    <ul>
      {
        projects.map((project) => (
          <Project
            url={'/projects' + project.slug}
            title={project.data.title}
            description={project.data.description}
          />
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
