---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>About</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt culpa
      amet exercitationem voluptate excepturi deleniti voluptas recusandae unde
      molestiae delectus, nulla est eius distinctio veritatis nam eaque commodi
      placeat vero. Quibusdam ex sapiente neque ab facere reiciendis tempore
      alias placeat commodi voluptas explicabo provident, adipisci, voluptatem
      esse quas consequuntur exercitationem itaque, quae eligendi aperiam autem!
      Alias iste nam nisi odit? Nihil incidunt rerum consequuntur consequatur
      aut sunt ratione, sapiente excepturi laboriosam ipsum eveniet voluptates
      nam, exercitationem asperiores molestias veniam obcaecati vel. Dolores
      minus recusandae delectus voluptatibus expedita? In, molestias omnis.
      Quibusdam odio cumque sapiente! Non doloremque odio aspernatur. Quis
      doloremque officia dolores, dolorem illo quo hic aperiam aut nesciunt a
      fuga delectus, ipsum amet quia eligendi, reprehenderit saepe distinctio
      obcaecati. Laudantium, officia, molestiae incidunt amet doloribus sint,
      quo aliquid eaque nobis ab animi mollitia consequuntur enim dolores
      nesciunt voluptate nisi accusamus eveniet sed doloremque velit quos?
      Tenetur ex numquam veniam! Totam fugit minus dicta repudiandae
      perspiciatis nostrum dignissimos. Id cum adipisci dignissimos error
      numquam quis dolorum odit pariatur quidem repellat sunt perferendis esse
      at laborum eveniet nesciunt odio, aliquid ea. A vero harum hic illum
      facilis mollitia voluptatem, quae aliquam dolor eum quo ad ut, temporibus,
      sequi reiciendis laboriosam tempora obcaecati odit ipsa beatae numquam est
      at? Odit, doloribus optio. Hic, officia autem quo architecto nostrum
      tempore perspiciatis iure laudantium iusto aut obcaecati distinctio
      possimus sint quod enim magnam rerum, id fuga fugiat impedit amet! Eveniet
      corrupti pariatur quisquam libero? Dicta fugiat debitis quae quia maiores
      inventore aliquam, quibusdam consequuntur illo sequi cum tempore? Est aut
      quasi soluta omnis aliquam, eum officia! Voluptatum ipsam commodi incidunt
      dolorum dignissimos expedita mollitia. Quibusdam itaque id neque numquam
      fugiat a modi dolorum tempora ipsum cum aperiam explicabo corporis,
      nesciunt tenetur voluptatibus quaerat ea veritatis ex perferendis iste
      natus culpa. Nam magni rerum dignissimos?
    </p>
  </section>
</Layout>
