---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <p>
    I'm a computer science student based in Germany. This website is a little
    side project where I learn about web development and share some of my
    personal projects. I currently work at a small it-firm where i create some
    websites using wordpress and hopefully angular soon.
  </p>
</Layout>
