---
import PostView from "@components/PostView.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <p>
    This website is a little side project where I learn about web development
    and share some of my personal projects.
  </p>
  <section id="posts">
    <h2>Recent posts</h2>
    <PostView postCount="3" />
  </section>
</Layout>
