---
import { SITE } from "@config";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="intro">
    <h1>{SITE.author}</h1>
    <p>
      I'm a computer science student based in Germany. This website is a little
      side project where I learn about web development and share some of my
      personal projects.
    </p>
  </section>
  <hr>
  <section id="projects">
    <h2>Projects</h2>
    <p>
      This is a selection of my most recent and best projects. See all projects <a
        href="/projects/"
        class="link">here</a
      >.
    </p>
  </section>
</Layout>

<style>
  p {
    max-width: 500px;
  }
</style>
