---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Hello World</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad suscipit
    eveniet veniam voluptatum quaerat, consectetur earum, mollitia nobis, sint
    odio perferendis! Dolores, est rerum? Inventore quas ab nesciunt debitis
    repudiandae? Eveniet magnam fuga autem laborum cumque provident obcaecati
    praesentium excepturi molestiae aliquid cupiditate accusamus numquam soluta
    in blanditiis commodi voluptatum error enim, dicta vel rerum magni sit earum
    eius! Sunt? Impedit illum delectus adipisci consequatur ea iusto asperiores
    aperiam beatae autem repellendus quibusdam vero consequuntur dicta, dolorum
    ab minus deserunt ipsam suscipit, fuga blanditiis quis repellat! Distinctio
    aspernatur minus ad. Eos, ipsam. Aperiam odio vitae maiores beatae, nemo
    optio enim harum aliquam praesentium voluptatum suscipit rem aliquid dolorum
    ea, laborum saepe sed rerum explicabo ab aut sequi soluta ratione nam.
    Fugiat, quam blanditiis nihil architecto exercitationem, aut, possimus
    asperiores sapiente libero mollitia dolorem tempore doloremque. Placeat
    similique repellat doloribus eligendi. Illo perferendis dicta, quod ex
    recusandae doloremque modi soluta adipisci!
  </p>
</Layout>
