---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="green">
    <h1>Astro</h1>

    <div class="background-overlay">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas,
        expedita, enim nobis illo maxime sunt quo nam totam, obcaecati
        perspiciatis eum natus. Beatae voluptas amet veniam magni, eum
        recusandae quasi! Odio vero porro repellat sed quam ad consectetur.
        Deleniti corrupti autem, impedit sed recusandae velit laboriosam fugit
        consequuntur tempora officia tempore, quasi, repellendus neque id
        molestiae ea quod inventore architecto. Atque velit similique minima.
        Iure aliquid laborum ipsam ut. Nisi aspernatur labore quas provident
        totam, sit architecto eius, quos possimus maiores sint fugiat esse
        pariatur vitae. Earum possimus dicta sequi! Deleniti molestias ut
        laborum excepturi. Minus culpa deleniti porro aliquid fugiat tempore
        iusto tenetur, eum ipsam accusantium? Ea aliquam magnam, nam cumque
        corporis perferendis earum illum quaerat! Vitae, consequatur reiciendis?
        Beatae quisquam non voluptates dolor eos eveniet reprehenderit corporis
        dicta sint! Debitis omnis deleniti, incidunt quis repudiandae placeat
        iste. Voluptate minima consequatur velit quas nisi, rem dolorum fuga vel
        autem! Eum natus officia deleniti sint ratione molestias, quisquam
        incidunt delectus facere exercitationem aliquam! Sit ex id totam, quam,
        enim, sunt quo dolorum fugit temporibus voluptates fuga eligendi
        doloremque porro exercitationem! Sunt quidem veritatis ex repellendus
        corporis tempora illum dolores harum repellat nihil adipisci numquam
        quaerat et molestiae nulla ratione enim vitae, rem laborum placeat ut
        eveniet debitis at! Distinctio, ea. Nobis corrupti nisi ad ipsa soluta
        eaque, laboriosam velit, a alias aliquid voluptatibus rem, corporis eius
        esse nam explicabo cumque deserunt. Unde expedita neque praesentium
        fugit hic, veritatis ratione magnam! Similique rem quisquam quis
        corrupti, possimus praesentium aliquam ad ab consequuntur quas incidunt!
        Quibusdam unde ratione cupiditate laboriosam ea illum provident quod,
        ipsam autem eligendi, soluta vel veniam enim modi. Error, fugiat
        explicabo debitis illo quisquam officiis? Reprehenderit sequi quis fugit
        nostrum doloremque quam officia accusantium a. At obcaecati, hic, itaque
        inventore rerum temporibus dolore aut natus repudiandae necessitatibus
        illum. Magnam impedit cumque tempora, sapiente exercitationem aliquid
        aperiam, enim necessitatibus eius consequatur tempore, autem sequi. Est
        nihil modi magni facere sapiente ipsum quis recusandae? Natus
        exercitationem libero magnam minus dicta. Asperiores id pariatur iusto,
        consectetur repudiandae esse sapiente quam in ipsum quo vel similique
        iure eius quibusdam a delectus suscipit debitis amet voluptate placeat?
        Enim quos iure eveniet dolore voluptatum! Molestias, maxime natus!
        Provident at veritatis non ducimus repellat animi harum perferendis
        temporibus vero ab. Modi vitae iusto vel laborum, illo, corporis dolore
        tempora nesciunt iure sit nobis magnam doloremque? Quo maiores beatae
        officiis quisquam nisi odit, provident minima expedita mollitia numquam
        doloremque, a porro laboriosam aperiam accusamus dolorem, cumque facere
        libero commodi sequi. Fugiat ipsam possimus ducimus quibusdam beatae.
        Eveniet asperiores molestias doloremque, delectus totam maxime excepturi
        quae temporibus at odio quo nemo, quis tempora blanditiis facere, et
        alias autem natus beatae quia laboriosam a. Aliquid ex eaque ipsam!
        Tempora, atque, illum architecto nam dolores animi nisi corrupti
        consequatur, ullam dignissimos enim minus eos nesciunt mollitia deserunt
        reiciendis? Rerum libero impedit temporibus mollitia labore iste
        quibusdam voluptatum consequuntur laboriosam? Quod exercitationem
        molestiae, est repellendus error earum, inventore labore cumque iure
        iste natus fugit nesciunt id commodi provident nulla architecto
        dignissimos dolores, ut veritatis dolorem? Itaque error explicabo soluta
        illum? Obcaecati recusandae laboriosam fuga mollitia illo praesentium
        fugiat voluptatem, impedit, soluta nisi voluptate! Repudiandae
        cupiditate recusandae saepe magni velit sed fugit qui molestias, non
        architecto iure vitae illo voluptatem voluptates. Ipsam reiciendis
        eligendi facere accusantium ex enim adipisci corrupti illum. Similique
        in ducimus quaerat earum ipsum dolores, natus sunt error corporis itaque
        consectetur obcaecati mollitia alias, libero quod modi tempora.
        Laudantium dolorem corrupti minima quia? Error tenetur animi obcaecati
        ipsam fuga eos dignissimos consequuntur veritatis omnis quam nostrum
        facilis officiis quia, eaque nisi perspiciatis deleniti porro totam ut
        aut mollitia! Voluptate natus doloremque voluptas accusantium,
        voluptatem dolorum exercitationem alias! Quo, dolor. Veniam tenetur
        perspiciatis id. Eligendi quia sequi, dolore quaerat modi tenetur iusto
        voluptatem officiis rem explicabo, quasi a doloribus! Fugiat in
        distinctio praesentium molestias id adipisci dignissimos rem sapiente
        atque, exercitationem magnam maiores reprehenderit excepturi
        voluptatibus, pariatur magni voluptates perspiciatis accusamus provident
        nisi ipsum possimus sequi. Voluptates, blanditiis sed. Nisi vitae quis
        assumenda eius hic atque distinctio fugit. Veniam reprehenderit illo,
        enim a reiciendis nemo deleniti neque autem cum sunt quis cumque iste,
        cupiditate pariatur rerum inventore. Velit, amet! Saepe sed doloribus
        consectetur harum optio placeat non ducimus id quo veritatis! Iusto
        assumenda rem porro explicabo, distinctio corporis nam, quam, error
        magni nesciunt eius voluptatem deleniti quidem architecto aspernatur.
        Enim adipisci temporibus fuga velit minima incidunt perferendis totam
        explicabo, cupiditate quos odio voluptate dolorem iste ad voluptatem
        tenetur quo eius ut mollitia provident! Accusantium voluptate doloribus
        inventore architecto quisquam! Expedita similique molestias eaque odit,
        commodi fugit. Esse cumque corporis minus veniam atque veritatis
        aspernatur est officia dolor deleniti in numquam vel, nihil tenetur
        sequi facilis quaerat nisi dolorem iure! Sapiente harum architecto
        expedita maiores? Sed laudantium officia adipisci sequi animi rem itaque
        ipsa ipsam architecto impedit maxime, repellat, velit fugit vitae nam,
        eaque dicta totam dolores sapiente minima. Praesentium. Cumque aliquid
        expedita, voluptas blanditiis quasi quos maiores dolores! A explicabo
        incidunt libero aliquam velit obcaecati mollitia ex eum, ipsum deserunt
        non numquam tempore nemo vero nam sit earum debitis. Tempore, hic
        distinctio. Officia placeat id asperiores suscipit ullam illo commodi
        maiores? Perspiciatis sed, hic assumenda illum minus itaque
        necessitatibus deserunt cum sint distinctio possimus voluptas iure, ea
        inventore recusandae. Fugiat enim provident odit at, ipsa, ducimus
        officia non reprehenderit totam blanditiis sapiente? Reprehenderit
        voluptates non est iusto aperiam consequatur accusamus eos dolore alias,
        animi quo voluptate incidunt quaerat amet. Ex ipsum sit hic vero quod
        eligendi voluptas laboriosam dolor numquam esse commodi, eaque sequi
        atque voluptate nostrum cupiditate dolore, illum possimus nesciunt
        explicabo ipsam dicta, aliquam magnam? Voluptate, esse? Quis eligendi,
        pariatur unde nostrum voluptatibus laboriosam reiciendis! Praesentium,
        animi quasi! Error fugiat repellat ducimus. Quam, minima natus rerum
        sunt odio alias perferendis commodi autem a corporis ex aliquid dolorum.
        Praesentium saepe sunt sit cum voluptatem perferendis quod. Commodi,
        adipisci nostrum cumque repellendus reiciendis veritatis quas vel
        voluptatibus dolorum id distinctio maiores accusamus cupiditate fuga
        necessitatibus, aspernatur atque dolores dolore. Excepturi,
        exercitationem optio. Doloremque nobis sapiente nostrum voluptatum ex
        quasi, dolorum ratione, consectetur aperiam, explicabo atque iusto sit
        delectus nam. Dignissimos dolores fugiat ipsam cum velit expedita
        maxime, autem optio. Error similique dolores voluptate iste adipisci
        fugit natus tempore, reiciendis nobis nemo animi ea officia in
        asperiores a odit libero accusamus doloremque, iusto explicabo.
        Explicabo at totam iure fugit ut. Repudiandae deleniti incidunt iste vel
        eius quod ea, sed quibusdam maiores nihil culpa itaque reprehenderit
        perferendis unde error tempora dolorem, cumque odit provident totam
        molestiae iure eaque quaerat quis! Nesciunt. Ratione cum vel expedita
        inventore totam voluptates cupiditate doloremque molestias quas maiores.
        Doloremque vitae tempore ullam iure deleniti ipsa quidem perferendis
        accusamus consequuntur soluta vero, totam natus, reiciendis aperiam
        voluptatum. Corrupti, corporis ea. Voluptates, est unde facilis
        provident possimus laudantium dolor repellendus quasi sapiente esse
        optio dolore id aliquid! Sed odit blanditiis voluptas alias recusandae
        sint tenetur fugit, accusantium maiores? Quod ex maiores soluta
        asperiores quidem laboriosam rerum molestias accusantium praesentium
        amet? Sint quibusdam adipisci accusamus mollitia odio laboriosam numquam
        modi maxime voluptas deleniti. Consequatur veniam iusto laborum quae
        impedit? Quos distinctio temporibus recusandae quidem delectus, veniam
        consequatur magni nesciunt itaque sint mollitia nobis numquam laboriosam
        officia corporis molestias? Quod dolore commodi ullam architecto et
        recusandae doloribus eum magni. Explicabo. Molestiae quae aliquam vel
        reiciendis pariatur molestias qui nam corporis minima quidem at
        perferendis aperiam esse, temporibus voluptas et illum facere sed dolor
        nobis blanditiis quisquam laudantium ad tempore? In. Reiciendis aliquid
        necessitatibus animi eligendi. Temporibus culpa nesciunt minus soluta ex
        odit impedit dolores libero assumenda fugiat, veritatis eligendi
        quisquam non saepe, adipisci nam a repellendus repellat unde iusto
        molestiae. Suscipit consequuntur praesentium eius nam rerum placeat
        possimus sapiente modi asperiores. Porro unde sunt dolores! Nostrum
        minima voluptas eius nihil iusto suscipit tempore animi enim architecto.
        Quasi molestias repellat iusto. Doloremque architecto illum ut incidunt
        in voluptatum commodi numquam earum sed, labore vero repellendus aut
        animi ullam expedita dolore, delectus qui, quisquam officia obcaecati
        molestias ipsa. Id dolorum sunt est? Consequatur explicabo fugit
        architecto neque nostrum maxime eaque nobis ut dicta deleniti alias sit
        quia blanditiis, sunt saepe ducimus reiciendis aliquam dolor perferendis
        officia. Culpa consequatur incidunt necessitatibus in praesentium?
        Consectetur porro magnam ex reiciendis laboriosam doloremque,
        repellendus, dolorum tempore iste odio quidem quod itaque molestias!
        Eligendi assumenda id aut architecto deleniti modi blanditiis animi
        reiciendis facere qui, nostrum quaerat! Maxime, hic quisquam. Tenetur
        delectus reiciendis blanditiis ut quibusdam, expedita laudantium
        necessitatibus doloribus facilis provident facere sapiente magnam soluta
        molestias. Facilis quos tempore aliquam ipsa provident delectus minima
        nostrum dignissimos? Corrupti cupiditate dolorum officia commodi rerum
        nihil sint et culpa aliquam earum officiis doloremque adipisci vero ex
        sit ipsam ea hic perferendis id deleniti, ullam perspiciatis
        voluptatibus vel! Voluptatem, deleniti. Quos laudantium ullam vel
        quibusdam cupiditate sint dolore tenetur, eos, aperiam iste praesentium
        necessitatibus, tempore possimus officia modi voluptate corrupti natus
        molestias ab ipsam ad hic. Autem fuga quae magni? Optio harum veritatis
        facere quae repellendus dolor doloremque reprehenderit ut dolorum
        perferendis aliquid neque alias sed vel suscipit quasi, totam est
        maiores a cumque. Voluptate ea impedit nemo in rem!
      </p>
    </div>
  </body>
</html>
