---
import Socials from "@components/socials.astro";
import Navigation from "@components/navigation.astro";
---

<header>
  <h1 class="title"><a href="/">Pierre Squarra</a></h1>
  <div class="subtitle-container">
    <p>Computer science student and machine learning enthousiast</p>
    <Socials />
  </div>
  <hr />
  <Navigation />
</header>

<style>
  header {
    padding: 3rem 0 1rem 0;
    font-size: 1.15rem;
  }
  header a {
    text-decoration: none;
  }
  .title {
    margin: 0;
    color: var(--link-color);
    font-size: 2.5rem;
    font-weight: 700;
  }
  .subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }
  .subtitle-container p {
    margin: 0;
  }
</style>
