---
import Navigation from "./Navigation.astro";
---

<header>
    <a href="/" class="title">portfolio</a>
    <Navigation />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    .title {
        color: #eeeeee;
        text-decoration: none;
        margin-right: 10px;
    }
</style>