---
import Socials from "@components/Socials.astro";
import Navigation from "@components/Navigation.astro";
---

<header>
  <h1 class="title"><a href="/">Pierre Squarra</a></h1>
  <div class="subtitle-container">
    <p style="margin: 0;">Computer science student</p>
    <Socials />
  </div>
  <hr />
  <Navigation />
</header>

<style>
  header {
    padding: 3rem 0 1rem 0;
    font-size: larger;
  }
  .title {
    margin: 0;
    color: var(--link-color);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
</style>
