<a href="/projects/" class="nav-link">projects</a>
<a href="/about/" class="nav-link">about</a>

<style>
    .nav-link {
        text-decoration: none;
        color: var(--text-color);
    }

    .nav-link:hover {
        color: var(--text-color-dark)
    }
</style>
