---
const pathname = new URL(Astro.request.url).pathname;
---

<nav>
  <a class={pathname === "/" ? "active" : ""} href="/">Home</a>
  <a class={pathname === "/posts/" ? "active" : ""} href="/posts/">Posts</a>
  <a class={pathname === "/about/" ? "active" : ""} href="/about/">About</a>
</nav>

<style>
  nav {
    display: flex;
    font-weight: 700;
    gap: 1rem;
  }

  nav a.active,
  nav a:hover {
    text-decoration: none;
    box-shadow: 0 2px 0px 0px var(--link-color);
  }
</style>
