---
import { SITE } from "@config";
import CommonHead from "@components/CommonHead.astro";
import Header from '@components/Header.astro';
import "@styles/global.css";
---

<html lang="en">
  <head>
    <CommonHead title={SITE.title} />
  </head>
  <body>
    <Header />
    <main transition:animate="morph">
        <slot />
    </main>
  </body>
</html>
