---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout>
  <section>
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
  </section>

  <slot />
</Layout>
